* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, 
footer,
section{
    padding: 5%;
    border: 1px solid lightgray;
}

.padded-1{
    border: 1px solid blue;
    padding: 1rem;
}



/* BACKGROUND IMAGE */

.bg-dark     { background-color: var(--dark);}
.bg-featured { background-color: var(--featured);}
.bg-medium   { background-color: var(--medium); }
.bg-light    { background-color: var(--light); }
.bg-v-light  { background-color: var(--v-light); }

.bg-image{
    background-color: black;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.landscape     { padding-bottom: 66% ; }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }

/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }


/* ------------ Typography Styles ----------------------- */

.left    { text-align: left; }
.right   { text-align: right; }
.center  { text-align: center; }
.uppercase    { text-transform: uppercase; }

h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
	margin-bottom: 0;
}

/* Unique Typography Styles  */
.emphasis       { font-size: 1.2rem; }
.text-featured  { color: var(--featured-text);}
.text-light     { color: var(--light-text);}
.subtle         { opacity: 0.8;     }
.subtitle       { font-size: 0.8rem; }


/* ------------ Contact Forms  ----------------------- */



/* ------------ Blogging elements  ----------------------- */

.intro{
    text-transform: uppercase;
    background-color: lightcoral;
    padding: 1rem;
}


/* Individual Elements */


.tag{
    border-bottom: 1px solid green;
    padding: 0.2rem;
    display: inline-block;
    cursor: pointer;
}